*.bak
/bin
config.ini
/bulid
chromedriver.log
/test-output
/config.ini

/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.ltk.core.refactoring.prefs
/classes/com/anjuke/ui/bean/AnjukeCommonUserInfo.class
/classes/com/anjuke/ui/bean/AnjukePriceMonitorBean.class
/classes/com/anjuke/ui/bean/AnjukeSaleInfo.class
/classes/com/anjuke/ui/page/Ajk_AgencyStore.class
/classes/com/anjuke/ui/page/Ajk_Ask.class
/classes/com/anjuke/ui/page/Ajk_AskView.class
/classes/com/anjuke/ui/page/Ajk_Calculator.class
/classes/com/anjuke/ui/page/Ajk_CityHomepage.class
/classes/com/anjuke/ui/page/Ajk_Community.class
/classes/com/anjuke/ui/page/Ajk_CommunitySale.class
/classes/com/anjuke/ui/page/Ajk_CommunityTrends.class
/classes/com/anjuke/ui/page/Ajk_CommunityView.class
/classes/com/anjuke/ui/page/Ajk_HomePage.class
/classes/com/anjuke/ui/page/Ajk_Owner.class
/classes/com/anjuke/ui/page/Ajk_PropRent.class
/classes/com/anjuke/ui/page/Ajk_PropView.class
/classes/com/anjuke/ui/page/Ajk_Rental.class
/classes/com/anjuke/ui/page/Ajk_Sale.class
/classes/com/anjuke/ui/page/Ajk_SaleView.class
/classes/com/anjuke/ui/page/Ajk_Tycoon.class
/classes/com/anjuke/ui/page/Ajk_UserCenter.class
/classes/com/anjuke/ui/page/Broker_Checked.class
/classes/com/anjuke/ui/page/Broker_PropertynewRentStep.class
/classes/com/anjuke/ui/page/Broker_PropertynewSaleStep.class
/classes/com/anjuke/ui/page/Broker_PropmanageRent.class
/classes/com/anjuke/ui/page/Broker_PropmanageSale.class
/classes/com/anjuke/ui/page/Broker_Report.class
/classes/com/anjuke/ui/page/Broker_areas.class
/classes/com/anjuke/ui/page/Broker_gradeexchanges.class
/classes/com/anjuke/ui/page/Broker_info.class
/classes/com/anjuke/ui/page/Broker_order.class
/classes/com/anjuke/ui/page/Broker_profile.class
/classes/com/anjuke/ui/page/Broker_shopprofile.class
/classes/com/anjuke/ui/page/Broker_shopview.class
/classes/com/anjuke/ui/page/Login_Anget.class
/classes/com/anjuke/ui/page/Login_My.class
/classes/com/anjuke/ui/page/Public_HeaderFooter.class
/classes/com/anjuke/ui/page/User_MemberAsk.class
/classes/com/anjuke/ui/publicfunction/AjkSaleSearchAction.class
/classes/com/anjuke/ui/publicfunction/AjkSearchResultCheck.class
/classes/com/anjuke/ui/publicfunction/AnjukeCommunityReport.class
/classes/com/anjuke/ui/publicfunction/AnjukeDb.class
/classes/com/anjuke/ui/publicfunction/BrokerInfo.class
/classes/com/anjuke/ui/publicfunction/BrokerRentOperating.class
/classes/com/anjuke/ui/publicfunction/BrokerSaleOperating.class
/classes/com/anjuke/ui/publicfunction/DalilyReport.class
/classes/com/anjuke/ui/publicfunction/PublicProcess.class
/classes/com/anjuke/ui/testcase/AnjukeAAAStartWithCopyThis.class
/classes/com/anjuke/ui/testcase/AnjukeAttentionCommunity.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerExpertise.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerIntegral.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerIntro.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerModifyInfo.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerOrder.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerRecycleOps.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerRentEdit.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerRentRelease.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerReport.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerSaleEdit.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerSaleRelease.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerUniversity.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerpractice.class
/classes/com/anjuke/ui/testcase/AnjukeBrokerprofile.class
/classes/com/anjuke/ui/testcase/AnjukeCancelRecommendHouse.class
/classes/com/anjuke/ui/testcase/AnjukeCheckAds.class
/classes/com/anjuke/ui/testcase/AnjukeCityhomepageSearchareaLink.class
/classes/com/anjuke/ui/testcase/AnjukeCollectHouseResource.class
/classes/com/anjuke/ui/testcase/AnjukeCommonUserModifyInfo.class
/classes/com/anjuke/ui/testcase/AnjukeCommunityListPrice.class
/classes/com/anjuke/ui/testcase/AnjukeCommunityPriceMonitor.class
/classes/com/anjuke/ui/testcase/AnjukeCommunityPropertyMaster.class
/classes/com/anjuke/ui/testcase/AnjukePropView.class
/classes/com/anjuke/ui/testcase/AnjukeRecommendHouse.class
/classes/com/anjuke/ui/testcase/AnjukeSaleSearchResultCheck.class
/classes/com/anjuke/ui/testcase/AnjukeSaveFindHouseCondition.class
/classes/com/anjuke/ui/testcase/AnjukeSearchCheck.class
/classes/com/anjuke/ui/testcase/AnjukeUfsSubmmitEvaluation.class
/classes/com/anjuke/ui/testcase/Anjukekeywords.class
/classes/com/anjuke/ui/testcase/KeywordsAnjukeProperty.class
/classes/com/anjuke/ui/testcase/ToolForDuplicateName.class
/classes/com/anjuke/ui/testcase/ToolForNewGaVersion.class
/classes/com/anjuke/ui/testcase/temp_test/TestAutoComplete.class
/classes/com/anjuke/ui/testcase/temp_test/UFStotal.class
/classes/com/anjuke/ui/testcase/temp_test/test1.class
/image/Thumbs.db
/lib/user-extensions.js
/src/com/anjuke/ui/testcase/AnjukeAAAStartWithCopyThis.java
/src/com/anjuke/ui/testcase/ToolForDuplicateName.java
/src/com/anjuke/ui/testcase/ToolForNewGaVersion.java
/src/com/anjuke/ui/testcase/temp_test/AnjukeAAAStartWithCopyThis.java
/src/com/anjuke/ui/testcase/temp_test/TestAutoComplete.java
/src/com/anjuke/ui/testcase/temp_test/UFStotal.java
/src/com/anjuke/ui/testcase/temp_test/jingjiaRule.java
/src/com/anjuke/ui/testcase/temp_test/jsCheck.java
/src/com/anjuke/ui/testcase/temp_test/test1.java
/suite/zzzOwnTTT.xml
/suite/zzzOwnTTTbuild.xml
/zzzOwnTTT.bat